<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Details</title>
	 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="style/styleCss.css"/>
      

      
</head>
<body>
	<header>
		<nav class="menu">
		    <div class="nav-wrapper">
		      <a href="/" class="waves-effect waves-light btn-small" id="home-icon"><i class="material-icons left">home</i></a>
		      <a href="#" class="brand-logo">Movie</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/movies" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Movies list</a></li>
		      </ul>
		    </div>
		</nav>
	
	</header>
	
	<div>
		
		<div th:each="movie : ${movie}" class="container detalhesEvento">
			<img src="imgs/bloodshot.jpeg" id="img-details">
			<h5><span th:text="${movie.title}"></span></h5>
			<div class="row">
				<p>Genre: <span th:text="${movie.genre}"></span></p>
				<p>Release date: <span th:text="${movie.date}"></span></p>
				<p>Duration: <span th:text="${movie.duration}"></span></p>
			</div>
		</div>
			
		<!--<th:block th:include="mensagemValidacao"></th:block>-->
	
	</div>
	
</body>

</html>