<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>EventosApp</title>
	 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="style/styleCss.css"/>
      
      
</head>
<body>
	<header>
		<nav class="menu">
		    <div class="nav-wrapper">
		      <a href="/index" class="waves-effect waves-light btn-small" ><i class="material-icons left">home</i></a>
		      <a href="#" class="brand-logo">Welcome</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/movies" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Movies list</a></li>
		        <li><a href="/registerMovie" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Register Movie</a></li>
		      </ul>
		    </div>
		</nav>
	
	</header>
	
	<div>
		Current date: <tr th:text = "${dados1}"></tr>
		Next Movie: <tr th:text = "${dados2}"></tr>
	</div>
	
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>


</html>